h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.navbar{
    padding: 0 2% 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #403761;
}

.contenedorBotones{
    display: flex;
    gap: 15px;
}

.botones{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    border: none;
    background: none;
    color: white;
}

.botones:hover{
    cursor: pointer;
    color: #A022C7;
}

.logo{
    justify-self: flex-start ;
    border: solid 2px white;
    border-radius: 8px;
    padding: 6px;
    color: white;
}